In [1]:
import pandas as pd

# The data

In [3]:
data = {
    "T1": [2.978914, 5.076367, 6.241271, 4.703676, 2.365248],
    "T2": [4.969531, 7.366404, 2.988471, 6.980317, 3.160256],
    "T3": [3.136124, 5.901899, 3.935697, 5.910061, 4.120970],
    "T4": [2.379705, 6.365317, 6.223268, 2.750074, 5.087392],
    "T5": [6.696634, 5.900297, 7.035676, 5.880760, 2.905313],
    "T6": [4.159496, 9.581275, 6.185028, 4.817011, 3.345586],
    "T7": [4.599453, 6.782611, 5.754503, 4.379251, 1.964572],
    "T8": [2.361038, 5.216291, 5.476320, 6.312148, 1.829765],
    "T9": [3.681586, 8.036675, 3.710193, 6.941133, 4.842863],
    "T10": [4.664544, 4.971592, 4.848209, 6.791554, 5.658435],
}

df = pd.DataFrame(data)
df.head()

,Subject,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,0,2.978914,4.969531,3.136124,2.379705,6.696634,4.159496,4.599453,2.361038,3.681586,4.664544
1,1,5.076367,7.366404,5.901899,6.365317,5.900297,9.581275,6.782611,5.216291,8.036675,4.971592
2,2,6.241271,2.988471,3.935697,6.223268,7.035676,6.185028,5.754503,5.476320,3.710193,4.848209
3,3,4.703676,6.980317,5.910061,2.750074,5.880760,4.817011,4.379251,6.312148,6.941133,6.791554
4,4,2.365248,3.160256,4.120970,5.087392,2.905313,3.345586,1.964572,1.829765,4.842863,5.658435

In [6]:
# Select all but the last two columns
df_train = df.iloc[:, :-2]
df_test = df.iloc[:, -2:]

In [7]:
df_train.head()

,Subject,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8
0,0,2.978914,4.969531,3.136124,2.379705,6.696634,4.159496,4.599453,2.361038
1,1,5.076367,7.366404,5.901899,6.365317,5.900297,9.581275,6.782611,5.216291
2,2,6.241271,2.988471,3.935697,6.223268,7.035676,6.185028,5.754503,5.476320
3,3,4.703676,6.980317,5.910061,2.750074,5.880760,4.817011,4.379251,6.312148
4,4,2.365248,3.160256,4.120970,5.087392,2.905313,3.345586,1.964572,1.829765

In [8]:
df_test.head()

         Q9       Q10
0  3.681586  4.664544
1  8.036675  4.971592
2  3.710193  4.848209
3  6.941133  6.791554
4  4.842863  5.658435

# The transformation

In [13]:
from src.transformations.transformers import SubjectiveTransformer
transformer = SubjectiveTransformer()

0    3.475655
1    5.910051
2    5.093359
3    4.970366
4    3.197678
dtype: float64

In [10]:
transformed_df_train = transformer.fit(df_train)
transformed_df_train.head()

,Subject,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8
0,-3.475655,-0.496741,1.493876,-0.339531,-1.095950,3.220979,0.683841,1.123798,-1.114617
1,-4.910051,-0.833684,1.456353,-0.008152,0.455266,-0.009754,3.671224,0.872560,-0.693760
2,-3.093359,1.147912,-2.104888,-1.157662,1.129909,1.942317,1.091669,0.661144,0.382961
3,-1.970366,-0.266690,2.009951,0.939695,-2.220292,0.910394,-0.153355,-0.591115,1.341782
4,0.802322,-0.832430,-0.037422,0.923292,1.889714,-0.292365,0.147908,-1.233106,-1.367913

In [11]:
transformed_df_test = transformer.transform(df_test)
transformed_df_test.head()

         Q9       Q10
0  0.205931  1.188889
1  2.126624 -0.938459
2 -1.383166 -0.245150
3  1.970767  1.821188
4  1.645185  2.460757

## Inverse transformation

In [12]:
inverse_transformed_df_train = transformer.inverse_transform(transformed_df_train)
assert df_train.equals(inverse_transformed_df_train)

In [ ]:
inverse_transformed_df_test = transformer.inverse_transform(transformed_df_test)
assert df_test.equals(inverse_transformed_df_test)