In [1]:
%env DATA_DIR=/home/loren/Code/evaluation/data/datasets

env: DATA_DIR=/home/loren/Code/evaluation/data/datasets

In [9]:
from src.experiments.data import BikeSharing
from ucimlrepo import fetch_ucirepo

# Load data

In [19]:
data = BikeSharing()
data.load_dataset()
full_dataset = fetch_ucirepo(id=275)
X_full = full_dataset.data.original.drop(columns=['cnt', 'instant'])
y = full_dataset.data.targets

loading BikeSharing h5 file

In [8]:
data.X.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.224490,0.2879,0.81,0.0
1,0.0,0.0,0.0,0.0,0.043478,0.0,1.0,0.0,0.0,0.204082,0.2727,0.80,0.0
2,0.0,0.0,0.0,0.0,0.086957,0.0,1.0,0.0,0.0,0.204082,0.2727,0.80,0.0
3,0.0,0.0,0.0,0.0,0.130435,0.0,1.0,0.0,0.0,0.224490,0.2879,0.75,0.0
4,0.0,0.0,0.0,0.0,0.173913,0.0,1.0,0.0,0.0,0.224490,0.2879,0.75,0.0

In [16]:
X_full.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1

# Is target correlated with number of total users?

In [23]:
# Correlation with casual users
X_full['casual'].corr(y.squeeze())

0.6945640779749487

In [24]:
# Correlation with registered users
X_full['registered'].corr(y.squeeze())

0.9721507308642988

In [25]:
# Correlation with total users
total_users = X_full['casual'] + X_full['registered']
total_users.corr(y.squeeze())

0.9999999999999999