In [1]:
%env DATA_DIR=/home/loren/Code/evaluation/data/datasets

env: DATA_DIR=/home/loren/Code/evaluation/data/datasets

In [2]:
from src.experiments.data import EnergyEfficiency1, EnergyEfficiency2
from ucimlrepo import fetch_ucirepo

# Load data

In [3]:
energyefficiency1 = EnergyEfficiency1()
energyefficiency2 = EnergyEfficiency2()
energyefficiency1.load_dataset()
energyefficiency2.load_dataset()

loading EnergyEfficiency h5 file
loading EnergyEfficiency h5 file

In [4]:
energyefficiency1.X.head()

         X1        X2        X3        X4   X5        X6   X7   X8
0  1.000000  0.000000  0.285714  0.000000  1.0  0.000000  0.0  0.0
1  1.000000  0.000000  0.285714  0.000000  1.0  0.333333  0.0  0.0
2  1.000000  0.000000  0.285714  0.000000  1.0  0.666667  0.0  0.0
3  1.000000  0.000000  0.285714  0.000000  1.0  1.000000  0.0  0.0
4  0.777778  0.166667  0.428571  0.111111  1.0  0.000000  0.0  0.0

In [5]:
energyefficiency2.X.head()

         X1        X2        X3        X4   X5        X6   X7   X8
0  1.000000  0.000000  0.285714  0.000000  1.0  0.000000  0.0  0.0
1  1.000000  0.000000  0.285714  0.000000  1.0  0.333333  0.0  0.0
2  1.000000  0.000000  0.285714  0.000000  1.0  0.666667  0.0  0.0
3  1.000000  0.000000  0.285714  0.000000  1.0  1.000000  0.0  0.0
4  0.777778  0.166667  0.428571  0.111111  1.0  0.000000  0.0  0.0

# Is target correlated with surface area?

X2 is the surface area.

In [9]:
print("Correlation with heating load: ", energyefficiency1.X['X2'].corr(energyefficiency1.y))
print("Correlation with cooling load: ", energyefficiency2.X['X2'].corr(energyefficiency2.y))

Correlation with heating load:  -0.6581202267776206
Correlation with cooling load:  -0.6729989333544858

Yes! But more than the other features?

In [10]:
energyefficiency1.X.corrwith(energyefficiency1.y)

X1    0.622272
X2   -0.658120
X3    0.455671
X4   -0.861828
X5    0.889431
X6   -0.002587
X7    0.269841
X8    0.087368
dtype: float64

X4 (roof area) and X5 (overall height) are the most correlated with heating load.

In [11]:
energyefficiency2.X.corrwith(energyefficiency2.y)

X1    0.634339
X2   -0.672999
X3    0.427117
X4   -0.862547
X5    0.895785
X6    0.014290
X7    0.207505
X8    0.050525
dtype: float64

And the same holds for the cooling load.